.main{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: #3d4651;
}
span{
  font-size: 16px;
  color: gray;
}
ol, ul {
    padding-left: 0rem;
}
.body-test-head{
  border-width: 2px;
  border-color: blueviolet;
  
}
.optionbutton{
  text-align: left;
  border: thin solid #e0e5ea;
}
.back-button{
  border: thin solid #a0b5c2;
  color: #a0bcd4;
}
.check-button{  
  background-color: #cccccc;
  color:  #faffff;
}
.next-button{
  background-color: #4fc168;
  color:  #faffff;
}

.plusScore{
  font-size: 24px;
  color: #26cf0a;
}
.minusScore{
  font-size: 24px;
  color: #cf0a0a;
}
a{
  text-decoration:none ;
}
.error-message{font-size:14px;color:red;margin:10px 0px 0px 0px}
a.next-button6{padding-top:28px}
a.next-button6:hover{color:#fff}
.lightblue-answer{
	border: medium solid #a9e7ff;
	color: #a9e7ff;
}
a.check-button6,a.check-button6:hover{color:#0d6efd}
.arrow-img{display:none;position:absolute;top:0px;left:0px}
table th{vertical-align:middle}
.drag-2 .col-xl-3{margin-right:10px;margin-top:10px}
.t2-o10{background:#fff url('../img/figure1.jpg') center center no-repeat;height:55px}
.t2-o11{background:#fff url('../img/figure2.jpg') center center no-repeat;height:55px}
.t2-o12{background:#fff url('../img/figure3.jpg') center center no-repeat;height:55px}
.c1 img{width:100%;height:auto}
.fig{float:left;margin-left:5px;margin-top:20px;cursor:pointer}
.fig.big{height:58px;width:58px}
.fig.small{height:34px;width:34px;margin-top:46px}
.t5-o5{background:#fff url('../img/fig1.jpg') bottom center no-repeat;background-size: contain;}
.t5-o6{background:#fff url('../img/fig2.jpg') bottom center no-repeat;background-size: contain;}
.t5-o7{background:#fff url('../img/fig3.jpg') bottom center no-repeat;background-size: contain;}
.t5-o8{background:#fff url('../img/fig4.jpg') bottom center no-repeat;background-size: contain;}
.t5-o9{background:#fff url('../img/fig5.jpg') bottom center no-repeat;background-size: contain;}
.t5-o10{background:#fff url('../img/fig6.jpg') bottom center no-repeat;background-size: contain;}
.t5-o11{background:#fff url('../img/fig7.jpg') bottom center no-repeat;background-size: contain;}
.t5-o12{background:#fff url('../img/fig8.jpg') bottom center no-repeat;background-size: contain;}
.drag-5 .b{border-bottom:1px solid #a0b5c2;width:64px;height:90px;margin:0px 7px;float:left}
.correct-answer{
  border: thin solid #4fc168 !important;
  color: #4fc168;
}
.correct-answer2{
	border: thin solid #5de67b;
	color: #5de67b;
}
.correct-answer3{
	border: thin solid #41a256;
	color: #41a256;
}
.correct-answer4{
	border: thin solid #046c1a;
	color: #046c1a;
}
.correct-answer5{
	border: thin solid #386c43;
	color: #386c43;
}
.wrong-answer{
  border: thin solid #f85621 !important;
  color: #f85621;
}
